.Titolo {
    /* Azzurro Twitter    */
    color : #1DA1F2;
    font-size: 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
}

.Testo {
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}